APP_URL=http://localhost:3001
APP_HOST=127.0.0.1
APP_PORT=3001

# API
API_PATH=api
API_VERSION=v1

# Services
# User Service
API_USER_SERVICE_HOST=127.0.0.1
API_USER_SERVICE_PORT=3002

# Attendance Service
API_ATTENDANCE_SERVICE_HOST=127.0.0.1
API_ATTENDANCE_SERVICE_PORT=3003
